@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

li,a {
  list-style-type: none;
  text-decoration: none;
}

.bannerdescription {
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  transform: translate(0%,-80%);
}

.banner {
  font-weight: 500;
  overflow: hidden;
  text-align: center;
  transform: translate(-50%,-25%);
}

.blur {
  z-index: 20;
}